@import 'mixins';

.sidebar {
  @include clearfix()
  float:  right;
  width: 100px;
  clear:  both;
  margin: 2em 2em;

  &.sticky {
      overflow-y: auto;
      /* calculate height of nav list
         viewport height - nav height - masthead x-padding
      */
      max-height: calc(100vh - 2em - 2em);
    }

  > * {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $base-font;
  }

  p,
  li {
    font-family: $base-font;
    font-size: 6;
    line-height: 1.5;
  }

  img {
    width: 100%;

    &.emoji {
      width: 20px;
      height: 20px;
    }
  }
}