<div class="navigation-wrapper">
  <div class="site-name">
    {% if site.logo %}
    <a href="{{ site.github.url }}/"><img src="assets/images/{{ site.logo }} "></a>
    {% else %}
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
    {% endif %}
  </div><!-- /.site-name -->
  <div class="top-navigation">
    <nav role="navigation" id="site-nav" class="nav">
        <ul>

            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
              {{ item.name }}
            </a>
            {% endfor %}

            {% for link in site.data.navigation %}
            {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.github.url %}
            {% endif %}
            <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>

    <div class ="social_links">
      <a href= "https://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/linkedin_logo.png"></a>
      
      <a href= "https://twitter.com/{{ site.owner.twitter }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/twitter_logo.png"></a>

      <a href= "https://github.com/{{ site.owner.github }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/github_logo.png"></a>

      <a href= "https://scholar.google.fr/citations?user={{ site.owner.google-scholar }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/google_scholar_logo.png"></a>
    </div> <!-- social links -->
  </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->