<div class="navigation-wrapper">
  <div class="top-navigation">
    <nav role="navigation" id="site-nav" class="nav">
        <ul>

          {% for item in site.data.navigation %}
            {% if item.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.github.url %}
            {% endif %}

            {% assign url_strings = page.url | split: "/" %}

            <li><a href="{{ domain }}{{ item.url }}" {% if item.url contains 'http' %}target="_blank"{% endif %} {% if url_strings[1]=="research" or url_strings[1] == "blog" or page.url == item.url%}class="current"
              {% endif %}>{{ item.title }}</a></li>
          {% endfor %}
        </ul>
    </nav>

    <div class ="social_links">
      <a href= "https://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/linkedin_logo.png"></a>
      
      <a href= "https://twitter.com/{{ site.owner.twitter }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/twitter_logo.png"></a>

      <a href= "https://github.com/{{ site.owner.github }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/github_logo.png"></a>

      <a href= "https://scholar.google.fr/citations?user={{ site.owner.google-scholar }}" target="_blank"><img class="social_link_img" style="width:20px" src="{{ site.github.url }}/assets/images/google_scholar_logo.png"></a>
    </div> <!-- social links -->
  </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->